@import "tailwindcss";

/* Root theme variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans, Arial, Helvetica, sans-serif);
  --font-mono: var(--font-geist-mono, monospace);
}

/* Dark mode theme variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html, body {
  min-height: 100vh;
}


/* Global body styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  z-index: 0;
  margin: 0;
  padding: 0;
}

/* Background image overlay with opacity */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../public/background-image.png);
  background-repeat: repeat;
  background-size: 256px 168.25px;
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
}



main {
  background-color: var(--background);
}